@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Sixtyfour&display=swap');

$mobile-max-width: 767px;

$navbar-color: rgb(0, 0, 0);

$navbar-name: rgb(255, 255, 255);

$navbar-angulo: 145deg;
$navbar-gradient-1: rgb(99, 135, 233);
$navbar-gradient-2: #f5d7b2;
$navbar-gradient-3: #ddc1a0;
$navbar-gradient-4: #0271c5;

$navbar-dropdown-menu: rgb(255, 255, 255);

$footer-color: black;